* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    font-size: 10px;
    background: #2d3436;
    overflow-x: hidden;
    cursor: default;
    user-select: none;
}

.container {
    height: 100vh;
    width: 100%;
    padding: 0px 10px;
    margin: 0 auto;
}

.login {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    border-radius: 30px;
    font-family: 'Montserrat', sans-serif;
    min-width: 280px;
    max-width: 700px;
    background: linear-gradient(90deg, #fab1a0, #81ecec, #00b894);

    &--container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 4px;
        border-radius: 30px;
        background: lighten(#2d3436, 10%);
        width: calc(100% - 8px);
        height: calc(100% - 8px);

        .hidden {
            visibility: hidden;
        }

        .info {
            font-size: 0.8rem;
            color: #a66060;
            letter-spacing: 0.7px;
            padding: 0px 10px;
            text-align: center;
            margin: 5px;
        }

        .title {
            font-size: 1.5rem;
            letter-spacing: 0.5px;
            text-align: center;
            text-transform: uppercase;
            margin: 40px 0px 20px 0px;
        }

        & label {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            padding: 5px;

            & .worker {
                text-align: center;

                &::placeholder {
                    color: #81ecec;
                    letter-spacing: 1px;
                }
            }

            & p {
                text-align: center;
                display: inline-block;
                width: 100%;
                font-size: 1rem;
                letter-spacing: 0.5px;
                padding: 4px 0px;
            }

            & input {
                height: 30px;
                width: 250px;
                border: 0;
                background: lighten(#2d3436, 15%);
                outline: none;
                padding: 5px;
            }
        }

        .change {
            padding: 7px 23px;
            margin: 20px 0px 40px 0px;
            border: none;
            outline: none;
            cursor: pointer;
            transition: background .4s;
            background: linear-gradient(90deg, #fab1a0, #81ecec, #00b894);
            font-family: 'Montserrat', sans-serif;
            font-weight: 400;
            letter-spacing: 0.4px;

            &:hover {
                background: rgba(41, 176, 186, 0.8);
                background: linear-gradient(90deg, darken(#fab1a0, 10%), darken(#81ecec, 10%), darken(#00b894, 10%));

            }
        }
    }

    &:after {
        content: "";
        position: absolute;
        left: 10px;
        top: 10px;
        right: 10px;
        bottom: 10px;
        background: #b2bec3;
        z-index: -2;
        filter: blur(15px);
    }
}

.modal__background {
    position: fixed;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
}

.bottom__modal__loader {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    height: 60%;

    & i {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        font-size: 15px;
        animation: rotate360 1s infinite linear;
        color: white;
    }
}

.modal__info {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(0.6);
    width: 100%;
    max-width: 250px;
    background: linear-gradient(90deg, #fab1a0, #81ecec, #00b894);
    overflow: hidden;
    transition: transform 0.5s;

    &--container {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: calc(100% - 6px);
        min-height: 120px;
        margin-top: 3px;
        margin-bottom: 3px;
        background: #95a5a6;

        & p {
            text-align: center;
            width: 100%;
            font-family: 'Montserrat', sans-serif;
            font-size: 1.1rem;
            font-weight: 400;
            letter-spacing: 0.3px;
            padding: 10px 10px;
        }
    }
}

.hidden {
    visibility: hidden;
}

.none {
    display: none;
}

.block {
    display: block;
}

.rotated {
    transform: rotate(180deg) !important;
}

.scale {
    transform: translate(-50%, -50%) scale(0.8);
}

@keyframes rotate360 {
    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}